
body {
    font-family: "Open Sans", sans-serif;
   
    margin: 0;
    padding: 0;
    color: #333;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 60px;
    top: 0;
    width: 100%;
    background: rgba(50, 47, 47, 0.9);
    color: #ffffff;
    padding: 10px 20px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.navbar .logo h1 {
    font-size: 1.8rem;
    font-weight: bold;
}

.navbar nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
    margin: 0;
}

.navbar nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar nav ul li a:hover {
    color: #ffeb3b; 
}


.cart-header {
    text-align: center;
    padding: 100px 20px 30px; 
    background-color: #f4f1de;
}

.cart-header h1 {
    font-size: 2.5rem;
    color: #0f4c75;
    margin-bottom: 10px;
}

.cart-header p {
    font-size: 1.1rem;
    color: #555;
    max-width: 600px;
    margin: 0 auto;
}


.cart-items {
    padding: 20px;
    margin-top: 30px;
}

.cart-item {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item p {
    font-size: 1.2rem;
    color: #333;
}

.remove-btn {
    background-color: #780670; 
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-btn:hover {
    background-color: #65045d;
}


.cart-footer {
    text-align: center;
    margin-top: 30px;
}

.checkout-btn {
    background-color: #780670;
    color: white;
    padding: 12px 18px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: #65045d;
}
