
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(to right, #7b5968, #c699ac); 
    color: #333;
}


header {
    background: linear-gradient(to right,  rgb(233, 206, 210), rgb(251, 218, 30)); 
    color: black;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}


nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: yellowgreen;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

p {
    font-size: 1.2em;
    margin-top: 20px;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    p {
        font-size: 1em;
    }
}
